
<div class="container">
<html lang="en"><script src="tem/prompt.js"></script><script src="tem/runScript.js"></script><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Project</title>
    <!--    favicon-->
    <link rel="shortcut icon" href="images/favicon.png">


    <link rel="stylesheet" href="tem/bootstrap.css">
    <link rel="stylesheet" href="tem/bootstrap-theme.css">
    <!--    font-->
    <link href="tem/css.css" rel="stylesheet" type="text/css">
    <link href="tem/css_002.css" rel="stylesheet" type="text/css">
    <link href="tem/css_003.css" rel="stylesheet" type="text/css">
    <link href="tem/css_004.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />



    <!-- Bootstrap css -->


    <!-- Font awesome css -->
    <link rel="stylesheet" href="tem/font-awesome.css">

    <!-- elegant-ico- css -->
    <link rel="stylesheet" href="tem/style.css">

    <!--    popup-->
    <link rel="stylesheet" href="tem/magnific-popup.css">

    <!--    owl-carousel-->
    <link rel="stylesheet" href="tem/owl.css">
    <link rel="stylesheet" href="tem/animated.css">
    <link rel="stylesheet" href="tem/swiper.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="tem/style_002.css">
    <!--    responsive css-->
    <link rel="stylesheet" href="tem/responsive.css">

</head>
<body style="overflow: visible;">
    <!-- Preloader -->
    <section id="loader" class="sampleContainer" style="display: none;">
        <div class="loader-o loader" style="display: none;">
            <div class="wrapper">
                <div class="squares">
                    <span class="load-square"></span>
                    <span class="load-square"></span>
                </div>
                <p>loading</p>
            </div>
        </div>
    </section>
    <!--Offcanvas Menu-->

    <!--    header-->
    <header>

        </div>
        <!--Navigation-->
        <nav class="navbar navbar-default menu-nav menu_three navbar_fixed" id="main_navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='/'><img src="images/logo.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="main_nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav menu-left menu">
                        <li class="dropdown">
                          <!--  <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>-->
                            <li class="dropdown active">


                                <li><a href="/about">About us</a></li>

</ul>
                                      <ul class="nav navbar-nav menu-right menu">
                                        {{#if user}}


                                        <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            Selling
                                          </a>
                                          <ul class="dropdown-menu">
                                            <li><a href="/users/{{ user._id }}/manage_orders">Orders</a></li>
                                            <li><a href="/my-gigs">Gigs</a></li>
                                          </ul>
                                        </li>
                                        <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            Buying
                                          </a>
                                          <ul class="dropdown-menu">
                                            <li><a href="/users/{{ user._id }}/orders">Orders</a></li>
                                          </ul>
                                        </li>

                                        <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            <img class="img-circle" style="width: 32px; height: 32px; margin-top: -7px;" src="{{ user.photo }}">
                                          </a>
                                          <ul class="dropdown-menu">
                                            <li><a href="/profile">{{ user.name }}</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="/logout">Logout</a></li>
                                          </ul>
                                        </li>

                                        {{else }}
                                        <li><a href="/login">Sign In</a></li>
                                        <li>
                                                <p class="navbar-btn">
                                                    <a href="/signup" class="btn btn-success">Join</a>
                                                </p>
                                            </li>
                                        {{/if}}
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->


                </div>
            </div>


                    </nav>
    </header>

    <section class="row">

    </section>
    </br></br>
